.seatSix_1{
    bottom: 0%;
    left: 0%;
    scale: 1;
}
.seatSix_2{
    bottom: 60%;
    left: -3%;
    scale: 1;
}

.seatSix_3{
    bottom: 85%;
    left: 25%;
    scale: 1;
}

.seatSix_4{
    bottom: 85%;
    left: 55%;
    scale: 1;
}

.seatSix_5{
    bottom: 60%;
    left: 89%;
    scale: 1;
}
.seatSix_6{
    bottom: 0%;
    left: 85%;
    scale: 1;
}

.seatNine_1{
    bottom: -5%;
    left: 3%;
    scale: 1;   
}

.seatNine_1{
    bottom: -5%;
    left: 3%;
    scale: 1;   
}

.seatNine_2{
    bottom: 30%;
    left: -6%;
    scale: 1;   
}

.seatNine_3{
    bottom: 70%;
    left: 0%;
    scale: 1;   
}


.seatNine_4{
    bottom: 85%;
    left: 20%;
    scale: 1;   
}

.seatNine_5{
    bottom: 85%;
    left: 40%;
    scale: 1;   
}

.seatNine_6{
    bottom: 85%;
    left: 60%;
    scale: 1;   
}

.seatNine_7{
    bottom: 70%;
    left: 85%;
    scale: 1;   
}

.seatNine_8{
    bottom: 30%;
    left: 92%;
    scale: 1;   
}

.seatNine_9{
    bottom: -5%;
    left: 83%;
    scale: 1;   
}
